* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    background: #f5f8fa;
}

#container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#client-code-card {
    background: #fff;
    padding: 40px 30px;
    border-radius: 5px;
    color: black;
    font-size: 20px;
    font-weight: 200;
}

#body {
    background: #fff;
    padding: 50px 40px;
    border-radius: 5px;
}

input[type=text] {
    background: #f5f8fa;
    padding: 17px 20px;
    font-size: 16px;
    margin: 0 3px 0 0;
    outline: 0;
    border: none;
    border-radius: 5px;
}

button {
    background: #323484;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
}

h1 {
    font-size: 20px;
    font-weight: 400;
}

select {
    width: 100%;
    height: 500px;
    border: none;
    background: #f5f8fa;
    color: black;
    overflow: hidden;
    font-size: 18px;
    padding: 1em;
    border-radius: 5px;
    margin: 20px 0;
}

select:focus {
    outline: 0;
}

select:checked {
    background: yellow !important;
    color: yellow;
}

option {
    margin: 6px 0;
    padding: 6px 10px;
    border-radius: 50px;
}

option:checked {
    box-shadow: 0 0 10px 100px #323484 inset;
    color: black;
}

option:hover {
    background: #dde0e2;
}

input[type=button] {
    width: 100%;
    background: #323484;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
}

input[type=button]:hover, button:hover {
    background: #4749b8;
}

textarea {
    width: 500px;
    height: 300px;
}
